<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyGameList- List of Game</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>

    <!-- Search function jquery -->
    <script>
        $(document).ready(function(){
          $("#myInput").on("keyup",function(){
            var value = $(this).val().toLowerCase();
            $("#cardSearch div").filter(function(){
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            })
          })
        })
    </script>
</head>
<body>
  <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        
            <a class="navbar-brand" href="#"><img src="/img/mygamelistLogo.png" width="80" height="80" alt="" srcset=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link text-white" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/gamelist">List Of Game</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/addGame">Add New Game</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">About Us</a>
              </li>
          </ul>
        
        </div>
        
      </nav>
  <!-- Header -->
    <div class="banner">
      <h1 class="">Your Game List</h1>
      <p>Record All Your Game!!</p>
    </div>
  <!-- game list card -->
  <form >
    <input class="form-control me-2  text-center" type="search" id="myInput" placeholder="Search For Game" aria-label="Search">
  </form>
    <div class="container-warp">
      <div class="justify-content-center d-flex flex-wrap"id="cardSearch">
        <%for(var i=0; i<game.length;i++) { %>
            <div class="card border-info mb-3 h-100" >
              <img class="card-img-top" src="<%= game[i].imgAddress %>" alt="Card image cap" height="400px">
              <div class="card-body card_body ">
                <h5 class="card-title"><%= game[i].gameName %></h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary text-white">Game Console: <%= game[i].Console %> </li>
                <li class="list-group-item bg-secondary text-white">Release Date: </li>
                <li class="list-group-item bg-secondary text-white">Create by: </li>
              </ul>
              </div>
              
              <div class="d-flex">
                <button type="button" class="btn btn-primary"><a href="/editGame/<%= game[i]._id %>" class="card-link text-white">Edit</a></button>
                <button type="button" class="btn btn-danger"><a href="/delete/<%= game[i]._id %>" class="card-link text-white">Delete</a></button>
              </div>

              
            </div>  
          <%}%>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>